.empty-entries-container{
    width: 100%;
    margin: 20% 0 0 90%;

}

.empty-text{
    line-height: 30px;
    font-size: 0.9em;
}

.empty-btn button{
    background-color: #ffdb58;
    color: white;
    border: none;
    font-size: 0.9em;
}

.empty-btn button:hover{
    background-color: #f1d779;
    color: white;

}