.entries-container{
    background-color: white;
}

.entries-wrapper{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.entries-item{
    width: 30%;
    /* border: 1px solid grey; */
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.entries-section{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 2em;
    background-color: #F5F5F5;
    padding: 1em;
    border-radius: 5px;
}

.arrow-div{
    margin: auto 0;
}

.arrow-div img{
    height: 1.8em;
    display: block;
}

.entry-date{
    color: #AEAEAE;
    font-size: 0.9em;
}



.entry-section{
    background-color: white;
    border-radius: 5px;
    /* height: 60vh; */
}

.entry-title{
    font-size: 1.1em;
    font-weight: bold;
}

.entry-img-div{
    margin-bottom: 2rem;
}

.entry-img-div img{
    width: 15em;
}

.entry-text{
    font-size: 0.9em;
    line-height: 25px;
}

.trash-icon{
    margin-top: 1rem;
    display: flex;
    
}

.text-info{
    text-align: center;
    margin-top: 50%;
    font-size: 1em;
}

.entry-calender{
    /* background-color: #F5F5F5; */
    /* padding: 1em; */
    border-radius: 5px;
}

.trash-icon div{
    margin-right: 2rem;
}

.upcoming-reminder{
    padding: 1em;
    margin: 2rem 0;
    background-color: white;
}

.page-title{
    text-align: center;
    margin-bottom: 2rem;
}

.entries-entry-section{
    display: flex;
    /* justify-content: space-between;
    align-content: space-between; */
}

.make-entry-btn{
    /* text-align: center; */
    /* margin: 2rem; */
}


@media only screen and (max-width: 700px){
    .entries-container{
        padding: 1em;
    }

    .entries-wrapper{
        flex-direction: column;
    }
    
    .entries-item{
        width: 100%;
        box-shadow: none
    }

    .entries-section{
        width: 100%;
    }

    .entries-entry-section{
        flex-direction: column;
    }

    .entry-section{
        margin: auto;
        background-color: white;
        padding: 2em;
        border-radius: 5px;
        width: 100vw;
        /* height: 60vh; */
    }
}